<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.project</string>
				<string>com.apple.garageband.template.magic</string>
				<string>com.apple.garageband.template.magicmentor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GBQLGenerator</string>
	<key>CFBundleGetInfoString</key>
	<string>GBQLGenerator 9.0.0 (358.6), Copyright (c) 2008 by Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.garageband.quicklookgenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GBQLGenerator</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0.0</string>
	<key>CFBundleVersion</key>
	<string>358.6</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>716D0D1B-6F9A-4DD0-A0E8-2799773D7A24</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>716D0D1B-6F9A-4DD0-A0E8-2799773D7A24</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GarageBand Project</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.project</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.os-type</key>
				<string>EMP1</string>
				<key>public.filename-extension</key>
				<array>
					<string>band</string>
					<string>gbProj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Magic GarageBand Template</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.template.magic</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>wand</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MagicMentor GarageBand Template</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.template.magicmentor</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mwand</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
