<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>8</string>
	<key>CFBundleShortVersionString</key>
	<string>9.0.0</string>
	<key>CFBundleVersion</key>
	<string>358.6</string>
	<key>ProductBuildVersion</key>
	<string>9B67</string>
	<key>ProjectName</key>
	<string>GarageBand_App</string>
	<key>SourceVersion</key>
	<string>3580600</string>
</dict>
</plist>
