<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.matthewfallshaw.WatchDevDashboard</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/touch</string>
      <string>/Users/matt/dev/dashboard/tmp/restart.txt</string>
    </array>
    <key>WatchPaths</key>
    <array>
      <string>/Users/matt/dev/dashboard</string>
    </array>
    <key>OnDemand</key>
    <true/>
  </dict>
</plist>
