<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.matthewfallshaw.SetTimeMachineDrive</string>
	<key>ProgramArguments</key>
	<array>
		<string>osascript</string>
		<string>/Users/matt/dev/utils/Scripts/SetTimeMachinedrive.scpt</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>StartOnMount</key>
	<true/>
	<key>WatchPaths</key>
	<array/>
</dict>
</plist>
